<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Eymen Uzun - Computer Science Enthusiast</h1>
        <hr>
        <div>
            <h3 style="display:inline;">About Me:</h3> 
            <p style="display:inline;">I am currently a high school student and I'm trying to improve in software and English.</p>
            <hr>
        </div>
        <p>
            
        </p>
        <div>
            <h3 style="display:inline">Projects:</h3>
            <p style="display:inline">
                <a href="https://github.com/eymen-uzun"
                target="_blank"
                title="Go the My Projects"
                >Github</a>
            </p>
            <hr>
        </div>
        <div>
            <h2 style="display:inline">CV:</h3>
            <hr>
        </div>
    </body>
</html>